<h1>Weather Averages</h1>
<h2>{{ city }}</h2>
<hr>
<table>
    <tr>
        <th>Month</th>
        <th>Min</th>
        <th>Max</th>
        <th>Rainfall</th>
    </tr>
    {% for month in months %}
    <tr>
        <td>{{ month }}</td>
        <td>
         {% set hl = weather[month]['min'] <= 40 %}
         {% if hl %}<b>{% endif %}
         {{ weather[month]['min'] }}
         {% if hl %}</b>{% endif %}
        </td>
        <td>{{ weather[month]['max'] }}</td>
        <td>{{ weather[month]['rain'] }}</td>
    </tr>
    {% endfor %}
</table>
